<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath>ChiHackerAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>jhongwunch</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="79EN52Oh9pnAY+iSD/nOOhXObdj9TKU8NkorNreVEWb4pkrCXI/1xT6KnntkczAhLNkr5kiQOztfiLlMwR6yRwqQlhe1kkdLFFbK+wxLLtGt4Hw4Nv4f6A6TgfhM/IXe+GS3sZgR2ILa/LhrCXpB5Pt07x/Gp7H+UzZuxH/KrHc=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="79EN52Oh9pnAY+iSD/nOOhXObdj9TKU8NkorNreVEWb4pkrCXI/1xT6KnntkczAhLNkr5kiQOztfiLlMwR6yRwqQlhe1kkdLFFbK+wxLLtGt4Hw4Nv4f6A6TgfhM/IXe+GS3sZgR2ILa/LhrCXpB5Pt07x/Gp7H+UzZuxH/KrHc=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQL" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.234\sql2012;Initial Catalog=RiChiCHYHacker;Persist Security Info=True;User ID=egisdbuser;Password=moeaegis" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.234\sql2012;Initial Catalog=RiChiCHYHacker;Persist Security Info=True;User ID=egisdbuser;Password=moeaegis;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>